[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
curses-util = "*"

[dev-packages]
coverage = "*"
autopep8 = "*"
flake8 = "*"
flake8-import-order = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"

[scripts]
coverage = "coverage xml gress/test_gress_lib.py"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
